footer {
    border-top: 2px solid #eee;
    margin-top: 4rem;
    padding: 2rem 3rem;
    font-size: 0.9rem;
    color: #888;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
}  

footer a {
    text-decoration: none;
    color: #6b4f3d;
    font-weight: 600;
}

footer a:hover {
    color: #3d2d24;
}

.ig-link img {
    width: 20px;
    height: 20px;
}


@media (max-width: 767px) {
    footer {
        padding: 2rem 1.5rem;
        font-size: 0.85rem;
        align-items: center;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }

    .ig-link {
        align-self: flex-end;
        margin-top: 1rem;
    }
}