#inicio {
    scroll-margin-top: 100px; /* un poco más que el alto del header */
}

.intro {
    width: 100%;
    max-width: 1200px;
    margin: 8rem auto 2rem;
    border-radius: 20px;
    background-color: #d9d9d9;
    padding: 2rem;
}

.intro-contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.ig-link svg {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    transition: transform 0.2s ease;
}

.ig-link svg:hover {
    transform: scale(1.1);
}

.ln-link svg {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    transition: transform 0.2s ease;
}

.ln-link svg:hover {
    transform: scale(1.1);
}

.intro-img {
    width: 300px;
    border-radius: 20px;
}

.intro-texto {
    flex: 1;
    min-width: 280px;
    max-width: 600px;
    margin-left: 100px;
}

.intro-texto h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color:#5c6c5e ;
}

.intro-texto p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: #5c6c5e;
    line-height: 1.6;
}

.dibujo-grid {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.dibujo-grid img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #f0f0f0;
    padding: 8px;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
}

.dibujo-grid img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .intro {
        margin: 10rem auto 2rem auto;
        padding: 1.5rem;
        max-width: 100%;
        width: calc(100% - 2rem); /* asegura que no se pase del ancho */
        box-sizing: border-box;
    }

    .intro-contenedor {
        flex-direction: column;
        text-align: center;
    }

    .intro-img {
        width: 220px;
        margin: 0 auto;
    }

    .intro-texto {
        margin-left: 0;
    }

    .intro-texto h2 {
        font-size: 2.2rem;
    }

    .intro-texto p {
        font-size: 1rem;
    }

    .dibujo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
        justify-content: center;
        max-width: 400px; /* o 100% si preferís */
        margin: 0 auto;
    }

    .dibujo-grid img {
        width: 80px;
        height: 80px;
        padding: 4px;
        background-color: #f5f5f5;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

}

@media (min-width: 1024px) {
    .intro {
        margin: 8rem auto 2rem;
    }

    .intro-texto h2 {
        font-size: 3rem;
    }

    .intro-texto p {
        font-size: 1.1rem;
    }
}  